.ng-cloak { display: none; }
.navbar-inverse {
  background: #3498db;
  border-color: #3498db; }
.navbar-inverse .navbar-brand { color: #FFF; }

#main_container { margin-top: 60px; }

.search { margin: 25px 0; }

.projects {
  list-style-type: none;
  min-height: 540px;
  border: 1px solid #EFEFEF;
}
  .project-image img {
    width: 100%;
    margin-bottom: 10px;
  }

  .project { 
    margin-bottom: 20px; 
    padding: 10px;
  }

  .project:nth-child(odd) {
    background: #EFEFEF;
  }


  .project-description h3 { margin: 0; }

  .project .tags > span { margin-right: 10px; }

  .projects > .none-found {
    font-style: italic;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #F00;
  }

.pagination {
  list-style-type: none;
}
  .disabled > a {
    color: gray;
    text-decoration: none;
    font-style: italic;
  }
  .active:hover > a, .disabled:hover > a {
    cursor: default;
  }
  
  .active > a {
    color: red;
    text-decoration: none;
    font-style: italic;
  }
