<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio Viewer</title>
  <link rel="stylesheet" href="css/vendor/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body data-ng-app="PortfolioViewer" data-ng-controller="PortfolioController">
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">{{person.name}} - Portfolio</a>
    </div>
  </div>
</header>
  <div id="main_container" class="container">
    <h1>My Portfolio</h1>
    <p>{{person.description}}</p>

  <form class="form-horizontal" role="form">
    <div class="form-group search">
      <label class="col-lg-1 control-label">Search</label>
      <div class="col-lg-11">
        <input type="text" class="form-control" ng-model="query" ng-change="search()" placeholder="Search Projects">
      </div>
    </div>
  </form>
    <ul class="projects container">
      <li data-ng-repeat="item in paged_items[current_page] | filter:query" class="project row">
        <div class="project-image col-lg-2">
          <img data-ng-src="{{item.image}}" alt="">
        </div>

        <div class="project-description col-lg-10">
          <h3>{{item.title}}</h3>
          <p>{{item.description}}</p>

          <div class="tags">
            <span class="label label-success" data-ng-repeat="tag in item.tags">{{tag}}</span>
          </div>
        </div>
      </li>
    </ul>

    <ul class="pagination pagination-centered">
      <li ng-class="{disabled: current_page == 0}">
        <a href ng-click="previous_page()">« Prev</a>
      </li>

      <li ng-repeat="n in range(paged_items.length)" 
          ng-class="{active: n == current_page}"
          ng-click="set_page()">
          <a href ng-bind="n + 1">1</a>
      </li>
      <li ng-class="{disabled: current_page == paged_items.length - 1}">
        <a href ng-click="next_page()">
          Next »
        </a>
      </li>
    </ul>
  </div>

  <script src="js/vendor/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/tools.js"></script>
  <script src="js/controllers/portfolio_controller.js"></script>
</body>
</html>