<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio Viewer</title>
  <link rel="stylesheet" href="style.css">
</head>
<body data-ng-app="PortfolioViewer">
  <!-- <h1>My Portfolio</h1> -->

  <div id="container" data-ng-controller="PortfolioController">
    <h1>{{person.name}}</h1>

    Search: <input type="text" ng-model="query">

    <ul class="projects">
      <li data-ng-repeat="item in paged_items[current_page] | filter:query" class="project">
        <div class="project-image">
          <img data-ng-src="{{item.image}}" alt="">
        </div>

        <div class="project-description">
          <h3>{{item.title}}</h3>
          <p>{{item.description}}</p>

          <ul>
            <li data-ng-repeat="tag in item.tags">
              {{tag}}
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="pagination">
      <li ng-class="{disabled: current_page == 0}">
        <a href ng-click="previous_page()">« Prev</a>
      </li>

      <li ng-repeat="n in range(paged_items.length)" 
          ng-class="{active: n == current_page}"
          ng-click="set_page()">
          <a href ng-bind="n + 1">1</a>
      </li>
      <li ng-class="{disabled: current_page == paged_items.length - 1}">
        <a href ng-click="next_page()">
          Next »
        </a>
      </li>
    </ul>
  </div>

  <script src="js/vendor/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/portfolio_controller.js"></script>
</body>
</html>