body {}
.projects {
  list-style-type: none;
}

.project {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     padding: 10px;
}

.project-image {
  float: left;
}
.project-image img {
  width: 200px;
}

.project-description {
  float: left;
  margin-left: 10px;
}

.project-description h3 { margin: 0; }
